<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icon.png') }}" type="image/png">
</head>
<body>
    <div class="background-overlay"></div>
    <div class="background">
        <img src="{{ url_for('static', filename='Logo (3).png') }}" alt="Excalibur FRC 6738" class="background-logo">
    </div>
    <nav class="navbar">
        <a href="/" class="navbar-logo-link">
            <img src="{{ url_for('static', filename='icon.png') }}" alt="Team Logo" class="navbar-logo">
        </a>
        <ul class="navbar-menu">
            <li><a>Outreach</a></li>
            <li><a href="{{ url_for('resources') }}">Resources</a></li>
        </ul>
    </nav>
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST">
            <label>
                <input type="password" name="password" placeholder="Password" required>
            </label>
            <button type="submit">Login</button>
        </form>
        <br>
    </div>
</body>
</html>
